.sprintTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 900px;
    color: #B8C1CA;
    border-spacing: 0;
    position: relative;
    border-bottom: 1px solid rgba(168, 167, 167, 0.47);

}

.sprintTable::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -1px;
    right: -1px;
    bottom: -2px;
    pointer-events: none;
    z-index: -1;
}

.sprintTable thead th:first-child {
    padding: 20px;
}

.sprintTable th {
    color: black ;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(168, 167, 167, 0.47);
}

.sprintTable tr {
    background-color: transparent;
    height:60px;
}

.sprintTable th,
.sprintTable td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(168, 167, 167, 0.47);
}
.sprintTable .rows:hover {
    background-color: rgba(74, 75, 79, 0.11);
}