@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.input {
  width: 40rem;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.input > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.input > div > div {
  width: 49%;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #1B263B;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 30px;
}

.input input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  height: 30px;
}

.input select {
  display: block;
  width: 102%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  height: 2.3rem;
}

.input input:focus {
  outline: none;
  border-color: #0D1B2A;
}

.button {
  border: 3px solid #0D1B2A;
  background: #0D1B2A;
  color: #B8C1CA;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 30px;
  margin: 5px;
}

.input textarea {
  display: block;
  resize: none;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #1B263B;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 105%;
  width: 35.8rem;
}

p {
  color: black;
  font-size: 20px;
}

.button_container {
  padding-top: 4%;
  display: flex;
}